DATABASE_URL="file:./dev.db"

ADMIN_PASSWORD=hier_dein_passwort_eintragen

# E-Mail & URL Konfiguration
BASE_URL=https://domain.de

SMTP_HOST=smtp.dein-provider.de
SMTP_PORT=587
SMTP_USER=deine-email@domain.de
SMTP_PASS=dein-mail-passwort
SMTP_FROM="RSVP Team <deine-email@domain.de>"